.authContainer, .register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.authContainer form {
    height: fit-content;
    width: 25%;
    min-width: 350px;
}

.authContainer fieldset {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
}


.authFields {
    width: 65%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 250px;
}
.errorMessage{
    padding: 5px;
    border: 2px solid red;
    background-color: salmon;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    
    
}
[hidden]{
    display: none;
}
.errorMessage .bx{
 font-size: 25px;
}
.formBtn{
    margin-top: 20px;
    height: 30px;
    width: 150px;
    align-self: center;
}