.authContainer, .register {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
  }
.authContainer form {
      height: fit-content;
      min-width: 350px;
      width: 25%;
  }
.authContainer fieldset {
      align-items: center;
      border-radius: 10px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      padding: 20px;
  }
.authFieldsContainer {
      display: flex;
      flex-direction: column;
      height: 50%;
      justify-content: space-around;
      max-width: 250px;
      width: 65%;
  }
.authFieldsContainer input{
      font-size: 16px;
  }
.errorMessage{
      align-items: center;
      background-color: salmon;
      border: 2px solid red;
      border-radius: 10px;
      display: flex;
      margin: 10px;
      padding: 5px;
  }
[hidden]{
      display: none;
  }
.errorMessage .bx{
   font-size: 25px;
}
.formBtn{
      align-self: center;
      background-color:#eee;
      border: 1px solid black;
      border-radius: 3px;
      color: #555;
      cursor: grab;
      height: 30px;
      margin-top: 20px;
      width: 150px;
  }
a#nonRegisteredYet > i{
      font-size: 20px;
  }